node_modules/
**/node_modules/

src/backend/dist/
src/frontend/dist/
src/frontend/dist-ssr/
deploy/server/dist/
deploy/aws-lambda/cdk.out/

.envrc
*.env
*.DS_Store
*.log
*.tsbuildinfo
*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*
*pnpm-debug.log*
*lerna-debug.log*

# Editor directories and files
.vscode*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
